@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
@media screen and (min-width: 768px) and (max-width: 992px){ 
   
    body{
        background-image: linear-gradient(to top, #192a51, #969B9A);
        
       
    }
    body > main{
        width: 80vw ;

    }
}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #192a51, #969B9A);
    }
    body > main{
        width: 60vw ;
        padding: 0px;
        
    }
   span.material-symbols-outlined{
       display: none;
       
    
   }
   menu > ul > a > li{
       display: inline-block;
       border-radius: 5px;
       width: 180px;
       padding: 5px; 
       margin: 0px;
   
      
       
   }
   header{
    background-image: url(../imagens/pexels-jourdan-wee-3644098.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    
}
   